{% extends "network/layout.html" %}
{% load static %}
{% block body %}
    {% if user.is_authenticated %}
        <div class="section">
            <form action={% url 'compose' %} method = "GET">
                <h4>What's happening?</h4>
                <input type="submit" value="Make new post" class="btn btn-primary btn-block"></input>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}