{% extends "network/layout.html" %}
{% load static %}
{% block body %}
    {% if user.is_authenticated %}
        <div class="section">
            <form action={% url 'compose' %} method = "GET">
                <h4>What's happening?</h4>
                <input type="submit" value="Make new post" class="btn btn-primary btn-block"></input>
            </form>
        </div>
    {% endif %}
    <h3>All posts</h3>
    {% for post in posts %}
        <div class="section">
            <h5>{{ post.user }}</h5>
            <p>{{ post.content }}</p>
            <p>{{ post.timestamp }}</p>
            <p>{{ post.likes.all.count }}</p>
        </div>
    {% endfor %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}