{% extends "network/layout.html" %}
{% load static %}
{% block body %}
    <h3>{{ username }}</h3>
    <div class="user-info">
        <div class="section">
            <h6>Following</h6>
            <p>{{ following }}</p>
        </div>
        <div class="section">
            <h6>Follower</h6>
            <p>{{ follower }}</p>
        </div>
    </div>
    
    {% if not ownpage %}
        <div class="follow-block">
            <form action="{% url 'user' username %}" method = "post">
                {% csrf_token %}
                {% if isfollowing %}
                    <input type="submit" id="follow-btn" class="btn btn-secondary btn-block" name="unfollow" value="Un-follow">
                {% else %}
                    <input type="submit" id="follow-btn" class="btn btn-primary btn-block" name="follow" value="Follow">
                {% endif %}
            </form>
        </div>
    {% endif %}

    {% for post in posts %}
        <div class="section">
            <h5><a href="{% url 'user' username %}">{{ username }}</a></h5>
            <p class="post-content">{{ post.content }}</p>
            <p class="grey">{{ post.timestamp }}</p>
            <p class="grey">&#10084;&#65039; {{ post.likes.all.count }}</p>
        </div>
    {% endfor %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}